<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Leaderboard App!</h1>

        <div class="nav-buttons">
            <a href="{{ url_for('main.add_user') }}" class="nav-button">Add User</a>
            <a href="{{ url_for('main.submit_form') }}" class="nav-button">Submit Score</a>
            <a href="{{ url_for('main.leaderboard') }}" class="nav-button">View Leaderboard</a>
        </div>
    </div>
</body>
</html>
