<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Your Score</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Submit Your Score</h1>

        <form action="{{ url_for('main.submit_score') }}" method="POST">
            <div class="form-group">
                <label for="name">Username:</label>
                <input type="text" id="name" name="name" required placeholder="Enter your username">
            </div>

            <div class="form-group">
                <label for="score">Score:</label>
                <input type="number" id="score" name="score" required placeholder="Enter your score">
            </div>

            <div class="form-group">
        <label for="file">File Upload</label>
        <input type="file" name="file">
        
            </div>
            <div class="form-group">
                <button type="submit" class="btn">Submit Score</button>
            </div>
           <div class="form-group">
        
        
        </div>
        </form>

        <div class="link-back">
            <a href="{{ url_for('main.index') }}" class="back-link">Back to Home</a>
        </div>
    </div>
</body>
</html>
